{% extends "layout.html" %} 
{% load static %}
{% block title %} Home page {% endblock %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <nav id="nav">
    <h1>DRIVIO.</h1>
    <div class="nav-part2">
      <ul>
        <div class="nav-element">
          <li><a href="">HOME-DRIVIO</a></li>
          <h5><span>HOME-DRIVIO</span></h5>
        </div>
        <div class="nav-element">
          <li><a href="">SERVICS-DRIVIO.</a></li>
          <h5><span id="driver">DERIVER-SERVICE</span></h5>
          <h5><span id="owner">OWNER-SERVICE</span></h5>
        </div>
        <div class="nav-element">
          <li><a href="">ABOUT-US</a></li>
          <h5><span id="our-a">OUR-AMBITION</span></h5>
          <h5><span id="our-f">OUR-FOCUS</span></h5>
          <h5><span id="our-i">OUR-IMPACT</span></h5>
        </div>
        <div class="nav-element">
          <li><a href="contact.html">CONTACT-US</a></li>
          <h5><span class="connect">CONNECT-WITH-US</span></h5>
          <h5><span>GIVE-FEEDBACK</span></h5>
        </div>
      </ul>
    </div>
    <button class="full-rounded">
      <span  id='start'>START</span>
      <div class="border full-rounded"></div>
    </button>
    <div id="nav-bottom"></div>
  </nav>
  <video autoplay loop muted src="{% static 'img/Hero.mp4'%}"></video>
  <div id="cursor"></div>
  <div id="cursor-blur"></div>
  <div id="main">
    <div id="page1">
      <h1>JOIN. CONNECT. RIDE. </h1>
      <h2>WELCOME TO DRIVIO-Let's turn miles into memories!</h2>
      <p>
        DRIVIO revolutionizes travel with seamless rides and trusted drivers. Join us for hassle-free journeys and
        unforgettable experiences.
      </p>
      <a href="#about-us"><div id="arrow"><span style="font-size: 65px;" class="material-symbols-outlined">
      arrow_downward
        </span></div></a>
    </div>
    <div id="page2">
      <div id="sclloer">
        <div id="sclloer-1">
          <h4>YOUR RIDE YOUR WAY,</h4>
          <h4>CONNECT WITH TRUSTED DRIVERS,</h4>

        </div>
        <div id="sclloer-1">
          <h4>YOUR RIDE YOUR WAY,</h4>
          <h4>CONNECT WITH TRUSTED DRIVERS,</h4>
        </div>
      </div>
      <div id="about-us">
        <img
          src="{% static 'img/dr1.jpg'%}"
          alt="" />
        <div id="about-us-in">
          <h3>ABOUT US</h3>
          <p>
            At DRIVIO, we're passionate about making travel easy, convenient, and enjoyable for everyone. Our mission
            is simple: to connect vehicle owners with trusted drivers, providing seamless rides and unforgettable
            experiences. With our user-friendly platform and commitment to reliability, we're revolutionizing the way
            people move from point A to point B. Whether you're commuting to work, exploring new places, or simply
            running errands, DRIVIO is here to make your journey smoother and more enjoyable. Join us today and let's
            redefine travel together.
          </p>
        </div>
        <img
          src="{% static 'img/p3.jpg'%}"
          alt="" />
      </div>
      <div id="cards-container">
        <div class="card" id="card1">
          <div class="overlay">
            <h4>OUR AMBITION</h4>
            <p>
              At DRIVIO, our ambition is to revolutionize the way people connect with transportation. We aim to create a platform that seamlessly brings vehicle owners and trusted drivers together, making the process of finding and offering rides as simple as possible. At DRIVIO, we're committed to making transportation easy, accessible, and reliable for everyone.
            </p>
          </div>
        </div>
        <div class="card" id="card2">
          <div class="overlay">
            <h4>OUR FOCUS</h4>
            <p>
              Our focus at DRIVIO is on providing a seamless and user-friendly experience for both vehicle owners and drivers. We prioritize security and trust, ensuring that all users can connect with confidence. Our platform is designed with simplicity in mind, making it easy for users to upload and browse vehicle listings, communicate, and arrange rides.
            </p>
          </div>
        </div>
        <div class="card" id="card3">
          <div class="overlay">
            <h4>OUR IMPACT</h4>
            <p>
              The impact of DRIVIO extends beyond just connecting drivers and vehicle owners. We are transforming the way people find and offer transportation, making it more efficient and reliable. By providing a central platform, we help reduce the time and effort involved in finding trusted drivers, enhancing convenience for vehicle owners. Our platform empowers drivers by giving them more opportunities and flexibility.
            </p>
          </div>
        </div>
      </div>
      <div id="page3">
        <p>
          DRIVIO, where your search for trusted drivers ends. Connect instantly with reliable drivers for hassle-free journeys. Simplify your travel with user-friendly features tailored for you. Experience the revolution in vehicle connectivity with DRIVIO. Sign up today and embark on a journey of convenience and trust!
        </p>
        <img
          id="colon1"
          src="{% static 'img/c1.png'%}"
          alt=""
        />
        <img
          id="colon2"
          src="{% static 'img/c2.png'%}"
          alt=""
        />
      </div>
      <div id="page4">
        <h1>WHAT ARE YOU WATING FOR??</h1>
        <div class="elem">
          <h2>Easy Registration</h2>
          <img src="{% static 'img/p8.jpg'%}" alt="" />
        </div>
        <div class="elem">
          <h2>Seamless Connection</h2>
          <img
            src="{% static 'img/p9.jpg'%}"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>Safe and Reliable</h2>
          <img
            src="{% static 'img/p10.jpg'%}"
            alt=""
          />
        </div>
      </div>
     
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

      <script src="{% static 'js/script.js'%}"></script>
</body>

</html>
{% endblock %}
