*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #EFEFEF;
}

.header {
  background-color: #444444;
  height: 5em;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  margin: auto 7%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-icon-link-container {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.profile-icon-link-container img {
    margin-right: .3em;
    width: 2.5em;
}

.profile-icon-link-container span {
    margin-right: .3em;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

.logout-button {
    background-color: #D51B1B;
    padding: .3em .5em;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
}

.main-container {
  width: 100%;
  background-color: white;
  margin: 5% auto;
}

.card {
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
}

.card-header {
  background-color: #444444;
  color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-content-container p {
  margin-bottom: .5em;
}

.license-img {
  width: auto; /* Adjust as needed */
  height: 80px;
  border-radius: 0;
}

.profile-edit-link-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-edit-link-container a {
  text-decoration: none;
  font-size: 1.1em;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    width: 95%;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }
}
