{% extends 'layout2.html' %}

{% block main_content %}


    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
    
                {% comment %} <h2 class="text-center text-muted">All Cars</h2>
                {% for msg in messages %}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
                {% endif %}
                
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
                {% endif %}
                {% endfor %} {% endcomment %}
                <a href="{% url 'car_add'%}" class="btn btn-primary mb-5">Add Car</a>
 
                {% for car in car %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ car.img.url }}" class="img-fluid rounded-start" alt="{{ car.car_name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ car.car_name }}</h5>
                                <p class="card-text"><strong>Owner Name:</strong> {{ car.owner_name }}</p>
                                <p class="card-text"><strong>Owner Contact:</strong> {{ car.owner_contact }}</p>
                                <p class="card-text"><strong>Location:</strong> {{ car.location }}</p>
                                <p class="card-text"><strong>Payment Amount:</strong> ${{ car.payment_price }}</p>
                                <p class="card-text"><strong>Description:</strong> {{ car.description }}</p>
                                <div class="d-flex justify-content-start">
                                    {% if car.user == user%}
                                    <a href="{% url 'car_update' car.id %}" class="btn btn-warning me-2"><i class="fas fa-pen-square"></i> Edit</a>
                                    <a href="{% url 'car_delete' car.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure Want to Delete This Car?')"><i class="fas fa-trash-alt"></i> Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    



{% endblock %}
