{% extends "layout.html" %} 
{% load static %}
{% block title %} DRIVIO - Connect with us {% endblock %} 
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <nav id="nav">
        <h1>DRIVIO.</h1>
        <div class="nav-part2">
          <ul>
            <div class="nav-element">
              <li><a href="{% url 'home' %}">HOME-DRIVIO</a></li>
              <h5><a href="{% url 'home'%}"><span id="our-a">HOME</span></a></h5>
            </div>
            <div class="nav-element">
              <li><a href="">SERVICS-DRIVIO.</a></li>
              <h5><a href="{% url 'driver'%}"><span id="driver">DERIVER-SERVICE</span></a></h5>
              <h5><a href="{%url 'owner'%}"><span id="owner">OWNER-SERVICE</span></a></h5>
            </div>
            <div class="nav-element">
              <li><a href="{% url 'home'%}">ABOUT-US</a></li>
              <h5><a href="#cards-container"><span id="our-a">OUR-AMBITION</span></a></h5>
              <h5><a href="#cards-container"><span id="our-a">OUR-FOCUS</span></a></h5>
              <h5><a href="#cards-container"><span id="our-a">OUR-IMPACT</span></a></h5>
            
            
            </div>
            <div class="nav-element">
                <li><a href="{% url 'contact' %}">CONTACT-US</a></li>
                <h5><a href="{%url 'contact'%}"><span id="owner">CONNECT-WITH-US</span></a></h5>
            </div>
          </ul>
        </div>
    
        
        {% comment %} <button is="btn-start"> <a href="{% url 'register'%}"> START</a>
          <div id="nav-bottom"></div>
        </button> {% endcomment %}
        <button> <a href="{% url 'register'%}">START</a>
        </button>
        
    
        <div id="nav-bottom"></div>
      </nav>
    
    <section class = "contact-section">
      <div class = "contact-bg">
        <h3>Get in Touch with Us</h3>
        <h2>contact us</h2>
        <div class = "line">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class = "text"></p>
      </div>


      <div class = "contact-body">
        <div class = "contact-info">
          <div>
            <span><i class = "fas fa-mobile-alt"></i></span>
            <span>Phone No.</span>
            <span class = "text">+977 9849140637</span>
          </div>
          <div>
            <span><i class = "fas fa-envelope-open"></i></span>
            <span>E-mail</span>
            <span class = "text">Drivio@gmail.com</span>
          </div>
          <div>
            <span><i class = "fas fa-map-marker-alt"></i></span>
            <span>Address</span>
            <span class = "text">Kathamandu, Nepal</span>
          </div>
          <div>
            <span><i class = "fas fa-clock"></i></span>
            <span>Opening Hours</span>
            <span class = "text">Monday - Friday (9:00 AM to 5:00 PM)</span>
          </div>
        </div>

        <div class = "contact-form">
          <form method="POST">
            {% csrf_token %}
            <div>
              <input type = "text" class = "form-control" placeholder="Full name" name="name">
              {% comment %} <input type = "text" class = "form-control" placeholder="Last Name"> {% endcomment %}
            </div>
            <div>
              <input type = "email" class = "form-control" placeholder="E-mail" name="email">
              <input type = "text" class = "form-control" placeholder="Phone">
            </div>
            <textarea rows = "5" placeholder="Message" class = "form-control" name="message"></textarea>
            <input type = "submit" class = "send-btn" value = "send message">
          </form>

          <div>
            <img src = "{% static 'img/contact-png.png'%}" alt = "">
          </div>
        </div>
      </div>

      <div class = "map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223700.1490386933!2d-97.11558670486288!3d28.829485511234168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864266db2e2dac3b%3A0xeee20d566f63267d!2sVictoria%2C%20TX%2C%20USA!5e0!3m2!1sen!2snp!4v1604921178092!5m2!1sen!2snp" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

    </section>

    

  </body>
</html>
{% endblock%}