{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">

    <title>Edit Profile</title>
  </head>
  <body>
    <header>
        <nav class="navbar">
            <a href="{% url 'profile' %}" class="logo">Drivio..</a>
            <a class="profile-icon-link-container" href="{% url 'logout' %}">
                <div class="header-logout">Logout</div>
            </a>
        </nav>
    </header>

    <main class="main-container"> 
        <p class="profile-page-heading">Edit your profile</p>
        <form class="container" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           
            <div class="profile-photo-container profile-photo-form-container">
                
                {% if user.profile.profile_img %}
                    <img src="{{ user.profile.profile_img.url }}" alt="user-image" width="100px" srcset="">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="user-image" width="100px" srcset="">
                {% endif %}
                {{ form.profile_img }}
            </div>

            <div class="user-content-container user-profile-form-container">
                <ul>
                    <li class="name">
                        <label for="id_name">Your Name:</label>
                        {{ form.name }}
                    </li>
                    <li class="text">
                        <label for="id_address">Address:</label>
                        {{ form.address }}
                    </li>
                    <li class="number">
                        <label for="id_phone_number">Phone:</label>
                        {{ form.phone_number }}
                    </li>
                    <li class="number">
                        <label for="id_Experinces">Experiences:</label>
                        {{ form.Experinces }}
                    </li>
                    <li class="img">
                        <label for="id_license_photo">License Photo:</label>
                        {{ form.license_photo }}
                    </li>
                    <li class="desc">
                        <label for="id_desc">Description:</label>
                        {{ form.desc }}
                    </li>
                </ul>
                <button class="profile-save-button">Save</button>
            </div>
        </form>
    </main>

    <script>
        var id_name = document.getElementById('id_name');
        var id_address = document.getElementById('id_address');
        var id_phone_number = document.getElementById('id_phone_number');
        var id_Experinces = document.getElementById('id_Experinces');
        var id_desc = document.getElementById('id_desc');
    
        id_name.value = '{{ user.profile.name|default_if_none:"" }}'; 
        id_address.value = '{{ user.profile.address|default_if_none:"" }}';
        id_phone_number.value = '{{ user.profile.phone_number|default_if_none:"" }}';
        id_Experinces.value = '{{ user.profile.Experinces|default_if_none:"" }}';
        id_desc.value = '{{ user.profile.desc|default_if_none:"" }}';
    
        id_name.placeholder = 'name'; 
        id_address.placeholder = 'address';
        id_phone_number.placeholder = 'phone number';
        id_Experinces.placeholder = 'experiences';
        id_desc.placeholder = 'write about yourself';
    </script>
  </body>
</html>